
body {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
}

.main-container {
    height: 100%;
}

.time {
    font-size: 100px;
}

.emot {
    font-size: 25px;
}

.hi {
    font-size: 40px;
}

.barbary {
    height: 80px;
}

.barbary-container {
    position: absolute;
    right: 20px;
    bottom: 0;
}
